<a href="https://colab.research.google.com/github/good-thinking/easy-coding2/blob/main/0323.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## diet 파일 
## 종속변수 : class(다이어트 클리닉 : 1, 다이어트 식품 : 2, 다이어트 운동 : 3, 다이어트 용품 : 4) 
## 독립변수 :  ['height', 'weight', 'want_diet','bmi', 'p_price', 'occupation', 'sex', 'married', 'created', 'upper_body(1,3,5,7,8,9)', 'lower_body(2,6)', 'face(4)', 'whole_body', 'diet_purpose', 'p_created', 'p_quantity']

In [1]:
import pandas as pd 
import numpy as np

In [459]:
df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/new project/new/30_3.xlsx")
df

,seq_num,id,social_id1,zip_code,occupation,sex,height,weight,married,want_diet,...,pfid,p_name,p_price,p_created,p_quantity,class,class.1,연도,age,age group
0,88,3602620,710314,220,3,2,159.0,55.0,0,53,...,PDFFUNC007,깜짝변신 다이어트세트,130000,5,1,PDFFUNC,2,1971,53,50
1,144,kwakmago,720217,135,3,2,158.0,57.0,0,50,...,MDEETCC013,파워스텝퍼(계측기),59000,5,1,MDEETCC,3,1972,52,50
2,179,SHR1,701030,480,3,2,168.0,53.0,0,49,...,MDGFASH008,콘쥬르 7부바지,68000,5,1,MDGFASH,4,1970,54,50
3,217,jieun100,740201,139,3,2,163.0,58.0,0,50,...,MDGLIKE006,매직마스크,24900,5,1,MDGLIKE,4,1974,50,50
4,219,altjs1972,720512,431,3,2,161.0,58.0,0,52,...,PDFFUNC001,내추럴하우스 라인-업,60000,5,1,PDFFUNC,2,1972,52,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,1936,er1119,690705,143,3,2,160.0,60.0,1,55,...,PDFFUNC007,깜짝변신 다이어트세트,130000,7,1,PDFFUNC,2,1969,55,50
210,1960,dangwha,711219,156,3,2,164.0,72.0,0,68,...,MDEHRWE009,매직후프 디지털(계측기 포함)1세트,27000,7,1,MDEHRWE,3,1971,53,50
211,1961,dangwha,711219,156,3,2,164.0,72.0,0,68,...,MDGFASH004,다이어트 반바지,29000,7,1,MDGFASH,4,1971,53,50
212,1969,rosareo,661125,137,3,1,179.0,83.0,1,79,...,MDEPART009,GDS-미니스텝퍼,39900,7,1,MDEPART,3,1966,58,50
213,1980,mano,741101,411,3,2,150.0,47.0,0,46,...,PDFFUNC001,내추럴하우스 라인-업,60000,7,1,PDFFUNC,2,1974,50,50

In [460]:
null_sum = pd.DataFrame(df.isnull().sum())
null_sum

                          0
seq_num                   0
id                        0
social_id1                0
zip_code                  0
occupation                0
sex                       0
height                    0
weight                    0
married                   0
want_diet                 0
created                   0
loss_part                13
upper_body(1,3,5,7,8,9)   0
lower_body(2,6)           0
face(4)                   0
whole_body                0
diet_purpose             11
bmi                       0
order_id                  0
pfid                      0
p_name                    0
p_price                   0
p_created                 0
p_quantity                0
class                     0
class.1                   0
연도                        0
age                       0
age group                 0

In [461]:
df = df.dropna(axis = 0)

In [462]:
df.columns

Index(['seq_num', 'id', 'social_id1', 'zip_code', 'occupation', 'sex',
       'height', 'weight', 'married', 'want_diet', 'created', 'loss_part',
       'upper_body(1,3,5,7,8,9)', 'lower_body(2,6)', 'face(4)', 'whole_body',
       'diet_purpose', 'bmi', 'order_id', 'pfid', 'p_name', 'p_price',
       'p_created', 'p_quantity', 'class', 'class.1', '연도', 'age',
       'age group'],
      dtype='object')

In [463]:
pd.DataFrame(df.columns)

                          0
0                   seq_num
1                        id
2                social_id1
3                  zip_code
4                occupation
5                       sex
6                    height
7                    weight
8                   married
9                 want_diet
10                  created
11                loss_part
12  upper_body(1,3,5,7,8,9)
13          lower_body(2,6)
14                  face(4)
15               whole_body
16             diet_purpose
17                      bmi
18                 order_id
19                     pfid
20                   p_name
21                  p_price
22                p_created
23               p_quantity
24                    class
25                  class.1
26                       연도
27                      age
28                age group

In [464]:
df = df.drop([df.columns[0], df.columns[1], df.columns[2], df.columns[11], df.columns[18]], axis = 1)

In [465]:
numeric_list = [df.columns[3], df.columns[4], df.columns[6],df.columns[13], df.columns[16]]

In [466]:
numeric_df = df[numeric_list]

In [467]:
cg_list = df.drop(numeric_list, axis = 1)

In [468]:
cg_list

,zip_code,occupation,sex,married,created,"upper_body(1,3,5,7,8,9)","lower_body(2,6)",face(4),whole_body,diet_purpose,pfid,p_name,p_created,p_quantity,class,class.1,연도,age,age group
0,220,3,2,0,1,1,1,0,0,1.0,PDFFUNC007,깜짝변신 다이어트세트,5,1,PDFFUNC,2,1971,53,50
1,135,3,2,0,4,1,1,0,0,2.0,MDEETCC013,파워스텝퍼(계측기),5,1,MDEETCC,3,1972,52,50
2,480,3,2,0,1,1,1,0,0,1.0,MDGFASH008,콘쥬르 7부바지,5,1,MDGFASH,4,1970,54,50
3,139,3,2,0,2,1,0,1,0,2.0,MDGLIKE006,매직마스크,5,1,MDGLIKE,4,1974,50,50
4,431,3,2,0,3,1,1,0,0,5.0,PDFFUNC001,내추럴하우스 라인-업,5,1,PDFFUNC,2,1972,52,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,143,3,2,1,3,1,0,0,0,1.0,PDFFUNC007,깜짝변신 다이어트세트,7,1,PDFFUNC,2,1969,55,50
210,156,3,2,0,4,1,0,0,0,2.0,MDEHRWE009,매직후프 디지털(계측기 포함)1세트,7,1,MDEHRWE,3,1971,53,50
211,156,3,2,0,4,1,0,0,0,2.0,MDGFASH004,다이어트 반바지,7,1,MDGFASH,4,1971,53,50
212,137,3,1,1,1,1,1,0,0,1.0,MDEPART009,GDS-미니스텝퍼,7,1,MDEPART,3,1966,58,50
213,411,3,2,0,4,1,1,0,0,1.0,PDFFUNC001,내추럴하우스 라인-업,7,1,PDFFUNC,2,1974,50,50

In [469]:
pd.DataFrame(cg_list.columns)

                          0
0                  zip_code
1                occupation
2                       sex
3                   married
4                   created
5   upper_body(1,3,5,7,8,9)
6           lower_body(2,6)
7                   face(4)
8                whole_body
9              diet_purpose
10                     pfid
11                   p_name
12                p_created
13               p_quantity
14                    class
15                  class.1
16                       연도
17                      age
18                age group

In [470]:
cg_list = cg_list.drop([cg_list.columns[10], cg_list.columns[11], cg_list.columns[14], cg_list.columns[15]], axis = 1)

In [471]:
cg_list_df = cg_list

In [472]:
cg_list_df = cg_list_df.drop(["zip_code"], axis = 1)

In [473]:
cg_list_df.columns

Index(['occupation', 'sex', 'married', 'created', 'upper_body(1,3,5,7,8,9)',
       'lower_body(2,6)', 'face(4)', 'whole_body', 'diet_purpose', 'p_created',
       'p_quantity', '연도', 'age', 'age group'],
      dtype='object')

In [474]:
cg_list = ['occupation', 'sex', 'married', 'created', 'upper_body(1,3,5,7,8,9)',
       'lower_body(2,6)', 'face(4)', 'whole_body', 'diet_purpose', 'p_created',
       'p_quantity']

In [475]:
X = df[numeric_list + cg_list]

In [500]:
X.columns

Index(['height', 'weight', 'want_diet', 'bmi', 'p_price', 'occupation', 'sex',
       'married', 'created', 'upper_body(1,3,5,7,8,9)', 'lower_body(2,6)',
       'face(4)', 'whole_body', 'diet_purpose', 'p_created', 'p_quantity'],
      dtype='object')

In [476]:
Y = df[df.columns[20]]

In [477]:
pd.DataFrame(Y)

     class.1
0          2
1          3
2          4
3          4
4          2
..       ...
209        2
210        3
211        4
212        3
213        2

[200 rows x 1 columns]

In [478]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler

In [479]:
ct = ColumnTransformer([("scaling", StandardScaler(), numeric_list), 
                        ("onehot", OneHotEncoder(sparse = False), cg_list)])

In [480]:
from sklearn.model_selection import train_test_split

In [481]:
X_train, X_test, Y_train,Y_test = train_test_split(X, Y, test_size=0.3, random_state=0)

In [482]:
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.feature_selection import SelectFromModel
from sklearn.ensemble import RandomForestClassifier

selector = SelectFromModel(RandomForestClassifier(n_estimators = 100, random_state=0), threshold = "median")
selector.fit(X_train, Y_train)

score = pd.DataFrame()
score["attribute"] = X_train.columns
score["support"] =  selector.get_support()
score[score["support"] == True]

       attribute  support
0         height     True
1         weight     True
2      want_diet     True
3            bmi     True
4        p_price     True
8        created     True
13  diet_purpose     True
14     p_created     True

In [483]:
df2 = pd.concat([X,Y], axis = 1)

In [484]:
df2.to_csv(index = False)

'height,weight,want_diet,bmi,p_price,occupation,sex,married,created,"upper_body(1,3,5,7,8,9)","lower_body(2,6)",face(4),whole_body,diet_purpose,p_created,p_quantity,class.1\n159.0,55.0,53,21,130000,3,2,0,1,1,1,0,0,1.0,5,1,2\n158.0,57.0,50,22,59000,3,2,0,4,1,1,0,0,2.0,5,1,3\n168.0,53.0,49,18,68000,3,2,0,1,1,1,0,0,1.0,5,1,4\n163.0,58.0,50,21,24900,3,2,0,2,1,0,1,0,2.0,5,1,4\n161.0,58.0,52,23,60000,3,2,0,3,1,1,0,0,5.0,5,1,2\n160.0,54.0,51,21,60000,3,2,0,1,1,1,1,1,3.0,5,1,2\n160.0,53.0,50,20,22000,3,2,0,3,1,0,0,0,3.0,5,1,3\n158.5,55.5,45,22,0,3,2,0,4,1,1,1,1,4.0,6,0,2\n161.0,55.0,47,21,43000,3,2,0,1,1,1,1,1,3.0,6,1,4\n164.0,72.0,68,26,14000,3,2,0,4,1,0,0,0,2.0,6,1,4\n164.0,72.0,68,26,14000,3,2,0,4,1,0,0,0,2.0,6,1,4\n164.0,72.0,68,26,14000,3,2,0,4,1,0,0,0,2.0,6,1,4\n164.0,72.0,68,26,14000,3,2,0,4,1,0,0,0,2.0,6,1,4\n154.0,52.0,48,21,0,3,2,1,1,1,1,0,0,3.0,8,0,3\n165.0,82.0,78,30,300000,3,2,0,2,1,0,0,0,1.0,8,1,2\n160.0,58.0,48,22,19500,3,2,0,2,1,1,0,0,1.0,8,1,3\n166.0,58.0,53,21,310000,3,2,0,2,1,0,0,0,3.0,8,1,1\n166.0,58.0,53,21,310000,3,2,0,2,1,0,0,0,3.0,8,1,1\n154.0,52.0,48,21,0,3,2,1,1,1,1,0,0,3.0,8,0,3\n154.0,52.0,48,21,9900,3,2,1,1,1,1,0,0,3.0,8,1,3\n174.0,62.0,57,20,20000,3,2,0,2,1,1,1,1,1.0,8,1,4\n174.0,62.0,57,20,35000,3,2,0,2,1,1,1,1,1.0,8,1,4\n164.0,57.0,52,21,69000,3,2,0,2,1,1,1,1,1.0,8,1,2\n160.0,50.0,47,19,20000,3,2,1,2,1,0,0,0,3.0,8,1,4\n162.0,56.0,48,21,60000,3,2,0,2,1,1,0,0,5.0,8,1,2\n160.0,64.0,50,25,21000,3,2,0,2,1,1,0,0,5.0,8,1,3\n159.0,69.0,65,26,18000,3,2,0,1,1,1,0,0,3.0,8,1,1\n164.0,49.0,45,18,19500,3,2,1,3,0,1,0,0,1.0,8,1,3\n158.0,55.0,50,22,39000,3,2,0,2,1,0,0,0,3.0,8,2,3\n155.0,55.0,50,22,69000,3,2,0,2,1,1,0,0,3.0,8,1,2\n155.0,55.0,50,22,27000,3,2,0,2,1,1,0,0,3.0,8,1,4\n163.0,53.0,48,19,19500,3,2,1,2,1,1,0,0,1.0,8,1,3\n163.0,53.0,48,19,70000,3,2,1,2,1,1,0,0,1.0,8,1,2\n158.0,52.0,49,20,18000,3,2,0,2,1,1,0,0,1.0,8,1,1\n157.0,57.0,48,23,130000,3,2,1,2,1,0,1,0,1.0,8,1,2\n162.0,70.0,67,27,18000,3,2,0,2,1,1,0,0,4.0,8,1,1\n180.0,180.0,180,55,39900,3,1,0,2,1,1,1,1,1.0,8,1,3\n174.0,70.0,68,23,19500,3,1,0,2,0,1,0,0,3.0,8,1,3\n158.0,54.0,48,21,60000,3,2,1,2,1,1,1,1,3.0,8,1,2\n163.0,47.0,46,17,19500,3,2,0,2,1,1,0,0,3.0,8,1,3\n163.0,54.0,50,20,19500,3,2,0,2,1,1,1,1,1.0,8,1,3\n156.0,54.0,47,22,12900,3,2,1,2,1,1,1,1,1.0,8,1,4\n157.0,57.0,52,22,19500,3,2,0,2,1,1,0,0,1.0,8,1,3\n157.0,57.0,52,22,9900,3,2,0,2,1,1,0,0,1.0,8,1,3\n164.0,70.0,15,26,55000,3,2,0,2,1,1,0,0,3.0,8,1,2\n165.0,58.0,55,21,18000,3,2,0,2,1,0,0,0,5.0,8,1,1\n172.0,68.0,62,22,12900,3,1,0,2,1,0,1,0,3.0,8,1,4\n160.0,65.0,62,25,20000,3,2,0,2,1,1,0,0,4.0,8,1,4\n162.0,55.0,54,20,20000,3,2,0,2,0,1,0,0,5.0,8,1,4\n162.0,55.0,54,20,37000,3,2,0,2,0,1,0,0,5.0,8,1,2\n170.0,72.0,68,22,20000,3,2,0,2,1,1,0,0,4.0,8,1,4\n170.0,72.0,68,22,14000,3,2,0,2,1,1,0,0,4.0,8,1,4\n163.0,54.0,51,20,20000,3,2,1,2,1,1,0,0,5.0,8,1,4\n160.0,52.0,51,20,20000,3,2,0,2,1,1,0,0,1.0,8,1,4\n160.0,51.0,48,19,50000,3,2,1,2,1,1,0,0,3.0,8,1,2\n168.0,53.0,49,18,130000,3,2,0,1,1,1,0,0,1.0,8,1,2\n158.0,60.0,54,23,300000,3,2,1,2,1,1,0,0,5.0,8,1,2\n178.0,83.8,84,27,58000,3,1,0,2,1,0,0,0,4.0,8,2,4\n170.0,79.0,70,27,39900,3,1,1,2,1,1,0,0,3.0,8,1,3\n162.0,59.0,55,22,18000,3,2,1,2,1,1,0,0,3.0,8,1,1\n174.0,80.0,70,26,12900,3,1,1,2,1,0,1,0,4.0,8,1,3\n164.0,75.0,62,27,12900,3,1,1,2,1,0,1,0,3.0,8,1,4\n163.0,47.0,46,17,19500,3,2,0,2,1,1,0,0,3.0,8,1,3\n158.0,46.0,40,18,35000,3,2,0,3,1,1,0,0,3.0,7,1,2\n156.0,55.0,48,22,41800,3,2,0,3,1,1,0,0,1.0,7,2,4\n161.0,51.0,45,19,12900,3,2,0,2,1,1,0,0,3.0,7,1,3\n163.0,55.0,51,20,19500,3,2,1,3,1,1,0,0,1.0,7,1,3\n161.0,51.0,45,19,19500,3,2,0,2,1,1,0,0,3.0,7,1,3\n150.0,47.0,46,21,18000,3,2,0,4,1,1,0,0,1.0,7,1,1\n164.0,72.0,68,26,18000,3,2,0,4,1,0,0,0,2.0,7,1,1\n160.0,50.0,46,19,35000,3,2,0,2,0,1,0,0,5.0,7,1,3\n163.0,60.0,56,22,130000,3,2,0,2,1,1,0,0,1.0,7,1,2\n163.0,60.0,56,22,260000,3,2,0,2,1,1,0,0,1.0,7,2,2\n159.0,57.0,52,22,60000,3,2,1,2,1,1,0,0,1.0,7,1,2\n172.0,85.0,70,28,52000,3,1,1,2,1,1,0,0,3.0,7,1,3\n167.0,54.0,50,19,12900,3,2,0,3,1,1,1,1,1.0,8,1,4\n179.0,83.0,79,25,18000,3,1,1,1,1,1,0,0,1.0,7,1,4\n162.0,62.0,59,23,12900,3,2,1,2,1,1,0,0,3.0,7,1,4\n163.0,58.0,54,21,310000,3,2,1,2,1,1,0,0,5.0,7,1,1\n160.0,53.0,49,20,12900,3,2,1,2,1,0,1,0,5.0,7,1,4\n172.0,65.0,58,21,70000,3,2,0,2,1,1,0,0,5.0,7,1,2\n163.0,50.0,47,18,29900,3,2,0,2,1,0,0,0,3.0,7,1,3\n163.0,50.0,47,18,29900,3,2,0,2,1,0,0,0,3.0,7,1,3\n164.0,58.0,55,21,18000,3,2,0,2,1,1,0,0,1.0,7,1,1\n179.0,83.0,79,25,18000,3,1,1,1,1,1,0,0,1.0,7,1,4\n163.0,63.0,50,23,12900,3,2,0,3,1,1,1,1,3.0,7,1,4\n154.0,59.0,55,24,600000,3,2,0,2,1,1,0,0,2.0,7,1,1\n165.6,59.0,53,21,12900,3,2,0,3,1,1,0,0,2.0,7,1,4\n158.0,51.0,47,20,19500,3,2,0,1,0,1,1,0,1.0,7,1,3\n155.0,49.5,48,20,60000,3,2,0,2,1,0,0,0,2.0,7,1,2\n163.0,58.0,55,21,29000,3,2,0,3,1,1,1,1,2.0,7,1,4\n155.0,58.0,54,22,19900,3,2,1,2,1,1,1,1,5.0,7,1,3\n150.0,47.0,46,21,35000,3,2,0,2,1,1,0,0,1.0,7,1,2\n165.0,52.0,48,19,49000,3,2,0,2,0,1,0,0,5.0,7,1,4\n168.0,58.0,53,20,55000,3,2,1,4,1,0,0,0,1.0,7,1,2\n179.0,83.0,79,25,0,3,1,1,1,1,1,0,0,1.0,7,0,4\n179.0,83.0,79,25,12900,3,1,1,1,1,1,0,0,1.0,7,1,4\n179.0,83.0,79,25,18000,3,1,1,1,1,1,0,0,1.0,7,1,4\n179.0,83.0,79,25,59000,3,1,1,1,1,1,0,0,1.0,7,1,3\n179.0,83.0,79,25,39900,3,1,1,1,1,1,0,0,1.0,7,1,3\n169.0,73.0,67,25,18000,3,2,0,2,1,1,0,0,1.0,8,1,1\n167.0,55.0,52,19,12900,3,2,0,2,1,1,1,1,5.0,7,1,4\n145.0,47.0,40,21,29900,3,2,0,2,1,1,0,0,1.0,7,1,3\n161.0,53.0,50,20,29900,3,2,0,2,1,1,0,0,5.0,7,1,3\n179.0,83.0,79,25,39900,3,1,1,1,1,1,0,0,1.0,7,1,3\n179.0,83.0,79,25,39900,3,1,1,1,1,1,0,0,1.0,7,1,3\n160.0,56.0,50,21,130000,3,2,0,2,1,1,0,0,3.0,7,1,2\n165.0,63.0,59,23,19900,3,2,0,3,1,0,1,0,3.0,7,1,4\n165.0,63.0,59,23,99000,3,2,0,3,1,0,1,0,3.0,7,1,3\n167.0,57.0,50,20,130000,3,2,1,2,1,1,0,0,1.0,7,1,2\n160.0,54.0,48,21,39000,3,2,1,1,1,1,0,0,1.0,7,2,3\n171.0,60.0,52,20,55000,3,2,0,2,1,1,0,0,1.0,7,1,2\n165.0,61.0,55,22,13000,3,2,0,2,1,1,0,0,1.0,7,1,3\n170.0,73.0,53,25,19500,3,2,0,2,1,1,0,0,2.0,7,1,3\n162.0,53.0,47,20,18000,3,2,0,2,1,1,1,1,3.0,7,1,4\n160.0,55.0,45,19,19900,3,2,0,4,0,1,1,0,1.0,7,1,3\n165.0,50.0,49,18,19500,3,2,0,2,1,1,0,0,3.0,7,1,3\n159.0,66.0,52,26,29000,3,2,0,2,1,1,1,1,1.0,7,1,4\n158.0,64.0,62,26,19500,3,2,0,3,1,1,1,1,3.0,7,1,3\n158.0,64.0,62,26,19500,3,2,0,3,1,1,1,1,3.0,7,1,3\n165.0,65.0,53,23,130000,3,2,0,4,1,1,1,1,3.0,7,1,2\n163.0,58.0,55,21,39000,3,2,0,3,1,1,1,1,2.0,7,1,4\n165.0,63.0,59,23,19500,3,2,0,3,1,0,1,0,3.0,7,1,3\n160.0,61.0,57,23,130000,3,2,0,2,1,1,1,1,3.0,7,1,2\n178.0,95.0,75,29,39000,3,1,0,2,1,1,0,0,3.0,7,1,3\n163.0,64.0,52,25,39000,3,2,0,2,1,1,0,0,2.0,7,1,4\n179.0,83.0,79,25,39900,3,1,1,1,1,1,0,0,1.0,7,1,3\n179.0,83.0,79,25,60000,3,1,1,1,1,1,0,0,1.0,8,1,2\n154.0,53.0,50,22,19500,3,2,0,2,1,1,1,1,1.0,7,1,3\n161.0,46.0,43,17,19500,3,2,1,3,1,1,0,0,1.0,7,1,3\n163.0,100.0,60,37,15000,3,2,0,4,1,1,1,1,3.0,5,1,4\n163.0,100.0,60,37,58000,3,2,0,4,1,1,1,1,3.0,5,1,4\n181.0,85.0,74,25,22000,3,2,0,1,0,1,1,0,1.0,5,1,4\n168.0,53.0,49,18,65000,3,2,0,1,1,1,0,0,1.0,5,1,4\n165.0,54.0,50,19,310000,3,2,0,1,0,1,0,0,3.0,5,1,1\n167.0,58.0,50,20,27000,3,2,0,2,1,1,0,0,1.0,5,1,4\n157.0,53.5,50,21,18000,3,2,0,1,1,1,0,0,5.0,8,1,1\n165.0,51.5,49,19,130000,3,2,0,1,1,0,0,0,1.0,5,1,2\n179.0,83.0,79,25,20900,3,1,1,1,1,1,0,0,1.0,5,1,4\n158.0,78.0,60,31,310000,3,2,1,1,1,1,0,0,3.0,5,1,1\n179.0,83.0,79,25,15000,3,1,1,1,1,1,0,0,1.0,5,1,4\n154.0,52.0,48,21,20900,3,2,1,1,1,1,0,0,3.0,5,1,4\n154.0,52.0,48,21,20900,3,2,1,1,1,1,0,0,3.0,5,1,4\n154.0,52.0,48,21,20900,3,2,1,1,1,1,0,0,3.0,5,1,4\n163.0,55.0,49,20,39900,3,2,0,1,0,1,1,0,1.0,6,1,3\n163.0,55.0,49,20,20900,3,2,0,1,0,1,1,0,1.0,6,1,4\n157.0,47.0,44,19,27000,3,2,0,1,1,1,1,1,3.0,6,1,3\n160.0,75.0,55,29,20900,3,2,0,4,1,1,0,0,4.0,6,1,4\n160.0,75.0,55,29,29900,3,2,0,4,1,1,0,0,4.0,6,1,3\n161.0,55.0,47,21,50000,3,2,0,1,1,1,1,1,3.0,6,1,4\n168.0,48.0,48,17,22000,3,2,0,2,1,0,1,0,1.0,6,1,4\n173.0,68.0,65,22,18000,3,1,0,2,1,0,0,0,3.0,6,1,4\n157.0,56.4,50,22,20900,3,2,0,2,1,0,1,0,2.0,6,1,4\n161.0,57.0,52,21,15000,3,2,0,3,1,1,1,1,1.0,6,1,4\n163.0,71.0,60,26,20900,3,2,1,3,1,1,1,1,3.0,6,1,4\n159.0,48.0,45,18,14000,3,2,0,2,0,1,0,0,1.0,6,1,4\n153.0,63.0,53,26,53000,3,2,1,2,1,0,0,0,1.0,6,1,3\n158.5,55.5,45,22,89000,3,2,0,4,1,1,1,1,4.0,6,1,2\n162.0,52.5,51,20,29900,3,2,0,1,1,1,0,0,3.0,6,1,3\n153.0,60.0,56,25,20900,3,2,0,4,1,1,1,1,1.0,6,1,4\n153.0,60.0,56,25,29900,3,2,0,4,1,1,1,1,1.0,6,1,3\n153.0,60.0,56,25,67000,3,2,0,4,1,1,1,1,1.0,6,1,3\n168.0,62.0,53,20,24900,3,2,0,2,1,0,1,0,1.0,6,1,3\n155.0,50.0,45,20,29900,3,2,0,1,1,1,0,0,1.0,6,1,3\n158.0,58.0,54,23,310000,3,2,1,2,1,1,0,0,1.0,6,1,1\n179.0,83.0,79,25,55000,3,1,1,1,1,1,0,0,1.0,6,1,2\n157.0,56.4,50,22,21000,3,2,0,2,1,0,1,0,2.0,6,1,3\n165.0,63.0,55,23,59700,3,2,0,2,1,0,1,0,1.0,6,3,3\n162.0,72.0,55,27,14000,3,2,0,2,1,1,1,1,1.0,6,1,4\n160.0,58.0,52,22,15000,3,2,1,2,1,1,0,0,5.0,6,1,4\n160.0,55.0,48,21,68000,3,2,1,2,1,1,0,0,3.0,6,1,4\n163.0,71.0,60,26,22000,3,2,1,3,1,1,1,1,3.0,6,1,3\n158.0,68.0,62,30,600000,3,2,1,1,1,1,0,0,1.0,6,1,1\n162.0,58.0,54,22,310000,3,2,1,2,1,1,0,0,3.0,6,1,1\n164.0,72.0,68,26,14000,3,2,0,4,1,0,0,0,2.0,6,1,4\n167.0,73.5,70,26,19900,3,2,0,2,1,1,1,1,1.0,6,1,3\n167.0,73.5,70,26,29900,3,2,0,2,1,1,1,1,1.0,6,1,3\n157.0,46.0,42,18,130000,3,2,1,1,1,1,0,0,1.0,6,1,2\n179.0,83.0,79,25,19900,3,1,1,1,1,1,0,0,1.0,6,1,3\n158.0,66.0,54,26,19900,3,2,0,2,1,1,0,0,1.0,8,1,3\n158.0,47.0,45,18,12900,3,2,0,2,0,1,1,0,1.0,8,1,4\n157.0,45.0,42,18,12900,3,2,0,2,1,0,1,0,1.0,8,1,4\n163.0,56.0,52,21,210000,3,2,0,2,0,1,0,0,1.0,8,1,1\n174.0,78.0,70,25,12900,3,1,0,2,1,1,0,0,3.0,8,1,4\n162.0,70.0,60,26,12900,3,1,0,2,1,0,1,0,3.0,8,1,4\n162.0,54.0,48,20,130000,3,2,0,2,1,1,0,0,3.0,8,1,2\n157.0,53.0,51,21,18000,3,2,0,2,1,1,0,0,1.0,8,1,1\n153.0,65.0,61,26,60000,3,2,0,3,1,0,0,0,4.0,7,1,2\n153.0,65.0,61,26,27000,3,2,0,3,1,0,0,0,4.0,7,1,4\n163.0,48.0,46,18,29000,3,2,0,2,1,1,0,0,1.0,7,1,4\n158.0,46.0,40,18,70000,3,2,0,3,1,1,0,0,3.0,7,1,2\n163.0,60.0,52,22,59800,3,2,1,3,1,1,1,1,1.0,7,1,3\n165.0,50.0,47,18,49000,3,2,1,1,0,1,0,0,1.0,7,1,4\n160.0,53.0,51,20,29900,3,2,0,2,0,1,0,0,1.0,7,1,3\n159.0,55.0,53,21,60000,3,2,0,1,1,1,0,0,1.0,7,1,2\n160.0,60.0,55,23,130000,3,2,1,3,1,0,0,0,1.0,7,1,2\n164.0,72.0,68,26,27000,3,2,0,4,1,0,0,0,2.0,7,1,3\n164.0,72.0,68,26,29000,3,2,0,4,1,0,0,0,2.0,7,1,4\n179.0,83.0,79,25,39900,3,1,1,1,1,1,0,0,1.0,7,1,3\n150.0,47.0,46,21,60000,3,2,0,4,1,1,0,0,1.0,7,1,2\n'

In [485]:
col_name = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/new project/new/30_3_colname.csv", encoding = "cp949")
col_name

    Unnamed: 0          colnames.X_train.
0            1                     height
1            2                     weight
2            3                  want_diet
3            4                        bmi
4            5                    p_price
5            6               occupation_3
6            7                      sex_1
7            8                      sex_2
8            9                  married_0
9           10                  married_1
10          11                  created_1
11          12                  created_2
12          13                  created_3
13          14                  created_4
14          15  upper_body(1,3,5,7,8,9)_0
15          16  upper_body(1,3,5,7,8,9)_1
16          17          lower_body(2,6)_0
17          18          lower_body(2,6)_1
18          19                  face(4)_0
19          20                  face(4)_1
20          21               whole_body_0
21          22               whole_body_1
22          23             diet_purpose_1
23          24             diet_purpose_2
24          25             diet_purpose_3
25          26             diet_purpose_4
26          27             diet_purpose_5
27          28                p_created_5
28          29                p_created_6
29          30                p_created_7
30          31                p_created_8
31          32               p_quantity_0
32          33               p_quantity_1
33          34               p_quantity_2
34          35               p_quantity_3

In [486]:
ct.fit(X)
X_train = ct.transform(X_train)
X_test = ct.transform(X_test)

/usr/local/lib/python3.9/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [487]:
from imblearn.over_sampling import SMOTE #synthetic minority over-sampling technique
from collections import Counter

X_train_over, Y_train_over = SMOTE(random_state = 0).fit_resample(X_train, Y_train)

print("original data %s" % Counter(Y))
print("original train data %s" % Counter(Y_train))
print("over train data %s" % Counter(Y_train_over))

original data Counter({4: 72, 3: 67, 2: 40, 1: 21})
original train data Counter({3: 52, 4: 50, 2: 24, 1: 14})
over train data Counter({4: 52, 3: 52, 2: 52, 1: 52})

In [488]:
X_train, Y_train = X_train_over, Y_train_over

In [489]:
from sklearn.linear_model import LogisticRegression
logit = LogisticRegression(C = 1, random_state = 0)

logit.fit(X_train, Y_train)
Y_pred = logit.predict(X_test)

print("R2 : {:.3f}" .format(logit.score(X_train, Y_train)))

from sklearn.metrics import classification_report
print(classification_report(Y_test, Y_pred))
print(logit.intercept_)
print(logit.coef_)

R2 : 0.808
              precision    recall  f1-score   support

           1       0.40      0.57      0.47         7
           2       0.62      0.31      0.42        16
           3       0.35      0.60      0.44        15
           4       0.50      0.36      0.42        22

    accuracy                           0.43        60
   macro avg       0.47      0.46      0.44        60
weighted avg       0.48      0.43      0.43        60

[-4.07755719  0.24541334  1.30970197  2.52244188]
[[-2.24329285e-01 -7.98697065e-01  8.26404483e-01  7.15714714e-01
   1.99477501e+00 -3.99016476e-03 -8.23498029e-01  8.19507864e-01
   1.13798403e-01 -1.17788568e-01 -9.27567427e-02 -7.57937333e-02
  -6.77006657e-01  8.41566968e-01 -6.39928694e-01  6.35938529e-01
  -6.01646666e-01  5.97656502e-01  9.29320585e-01 -9.33310750e-01
   6.75366328e-01 -6.79356493e-01 -1.79436549e-01  1.97991612e-01
  -1.78955943e-03 -4.79154299e-01  4.58398631e-01 -8.27254648e-01
  -1.24736427e-01 -2.96738320e-01  1.24473923e+00 -9.57087182e-02
   8.04225258e-01 -7.11498206e-01 -1.00849839e-03]
 [-4.06485655e-01 -2.33378702e-02 -5.72540580e-02 -4.85231578e-01
   1.68343792e+00  5.33216310e-03  3.89873159e-01 -3.84540996e-01
  -1.90582457e-01  1.95914620e-01 -1.20210944e-01 -1.97750343e-01
   8.74343727e-02  2.35859078e-01 -1.34126697e-01  1.39458860e-01
   1.92917549e-01 -1.87585386e-01  3.47141281e-02 -2.93819650e-02
  -2.98778246e-01  3.04110409e-01  5.72575454e-01 -3.49070965e-01
  -8.42599372e-02  4.93338352e-01 -6.27250740e-01 -2.99749753e-01
  -6.11658508e-01  4.75171881e-01  4.41568543e-01 -1.30989905e-01
   2.25178319e-01 -6.88877363e-02 -1.99685146e-02]
 [-2.15820333e-01  6.00276383e-01 -1.34247355e-01 -1.25090098e-01
  -1.13514457e+00  2.53423717e-03  2.38164196e-01 -2.35629959e-01
   1.53198351e-01 -1.50664114e-01  1.91264578e-01  2.15460811e-01
   2.01399294e-01 -6.05590445e-01  3.63583188e-01 -3.61048951e-01
   2.75957430e-02 -2.50615059e-02 -5.73878895e-01  5.76413132e-01
   1.97366302e-01 -1.94832065e-01  2.81802725e-01 -2.64347054e-01
   7.29921388e-01 -7.84940324e-01  4.00975018e-02 -2.48070091e-01
   8.05793390e-01  2.31287699e-01 -7.86476761e-01  7.22447456e-02
  -5.19694326e-01  2.81317580e-01  1.68666238e-01]
 [ 8.46635272e-01  2.21758551e-01 -6.34903069e-01 -1.05393037e-01
  -2.54306836e+00 -3.87623551e-03  1.95460673e-01 -1.99336909e-01
  -7.64142971e-02  7.25380616e-02  2.17031088e-02  5.80832657e-02
   3.88172991e-01 -4.71835601e-01  4.10472202e-01 -4.14348438e-01
   3.81133374e-01 -3.85009610e-01 -3.90155818e-01  3.86279583e-01
  -5.73954384e-01  5.70078149e-01 -6.74941630e-01  4.15426407e-01
  -6.43871892e-01  7.70756271e-01  1.28754608e-01  1.37507449e+00
  -6.93984552e-02 -4.09721261e-01 -8.99831012e-01  1.54453877e-01
  -5.09709250e-01  4.99068362e-01 -1.47689225e-01]]

/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [490]:
#!pip install statsmodels
#!pip install scikit-learn

In [491]:
from sklearn.metrics import accuracy_score

In [492]:
model2 = LogisticRegression(multi_class='multinomial', solver='lbfgs')

In [493]:
model2.fit(X_train, Y_train)

/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(multi_class='multinomial')

In [494]:
y_pred = model2.predict(X_test)
accuracy = accuracy_score(Y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.43333333333333335

In [495]:
print("R2 : {:.3f}" .format(model2.score(X_train, Y_train)))

from sklearn.metrics import classification_report
#print(classification_report(Y_test, Y_pred))
print(model2.intercept_)
print(model2.coef_)

R2 : 0.808
[-4.07755719  0.24541334  1.30970197  2.52244188]
[[-2.24329285e-01 -7.98697065e-01  8.26404483e-01  7.15714714e-01
   1.99477501e+00 -3.99016476e-03 -8.23498029e-01  8.19507864e-01
   1.13798403e-01 -1.17788568e-01 -9.27567427e-02 -7.57937333e-02
  -6.77006657e-01  8.41566968e-01 -6.39928694e-01  6.35938529e-01
  -6.01646666e-01  5.97656502e-01  9.29320585e-01 -9.33310750e-01
   6.75366328e-01 -6.79356493e-01 -1.79436549e-01  1.97991612e-01
  -1.78955943e-03 -4.79154299e-01  4.58398631e-01 -8.27254648e-01
  -1.24736427e-01 -2.96738320e-01  1.24473923e+00 -9.57087182e-02
   8.04225258e-01 -7.11498206e-01 -1.00849839e-03]
 [-4.06485655e-01 -2.33378702e-02 -5.72540580e-02 -4.85231578e-01
   1.68343792e+00  5.33216310e-03  3.89873159e-01 -3.84540996e-01
  -1.90582457e-01  1.95914620e-01 -1.20210944e-01 -1.97750343e-01
   8.74343727e-02  2.35859078e-01 -1.34126697e-01  1.39458860e-01
   1.92917549e-01 -1.87585386e-01  3.47141281e-02 -2.93819650e-02
  -2.98778246e-01  3.04110409e-01  5.72575454e-01 -3.49070965e-01
  -8.42599372e-02  4.93338352e-01 -6.27250740e-01 -2.99749753e-01
  -6.11658508e-01  4.75171881e-01  4.41568543e-01 -1.30989905e-01
   2.25178319e-01 -6.88877363e-02 -1.99685146e-02]
 [-2.15820333e-01  6.00276383e-01 -1.34247355e-01 -1.25090098e-01
  -1.13514457e+00  2.53423717e-03  2.38164196e-01 -2.35629959e-01
   1.53198351e-01 -1.50664114e-01  1.91264578e-01  2.15460811e-01
   2.01399294e-01 -6.05590445e-01  3.63583188e-01 -3.61048951e-01
   2.75957430e-02 -2.50615059e-02 -5.73878895e-01  5.76413132e-01
   1.97366302e-01 -1.94832065e-01  2.81802725e-01 -2.64347054e-01
   7.29921388e-01 -7.84940324e-01  4.00975018e-02 -2.48070091e-01
   8.05793390e-01  2.31287699e-01 -7.86476761e-01  7.22447456e-02
  -5.19694326e-01  2.81317580e-01  1.68666238e-01]
 [ 8.46635272e-01  2.21758551e-01 -6.34903069e-01 -1.05393037e-01
  -2.54306836e+00 -3.87623551e-03  1.95460673e-01 -1.99336909e-01
  -7.64142971e-02  7.25380616e-02  2.17031088e-02  5.80832657e-02
   3.88172991e-01 -4.71835601e-01  4.10472202e-01 -4.14348438e-01
   3.81133374e-01 -3.85009610e-01 -3.90155818e-01  3.86279583e-01
  -5.73954384e-01  5.70078149e-01 -6.74941630e-01  4.15426407e-01
  -6.43871892e-01  7.70756271e-01  1.28754608e-01  1.37507449e+00
  -6.93984552e-02 -4.09721261e-01 -8.99831012e-01  1.54453877e-01
  -5.09709250e-01  4.99068362e-01 -1.47689225e-01]]

In [496]:
coefficient2 = model2.coef_

In [497]:
transposed_array2 = np.transpose(pd.DataFrame(coefficient2))

In [498]:
transposed_array2[4] = col_name["colnames.X_train."]

In [499]:
transposed_array2

           0         1         2         3                          4
0  -0.224329 -0.406486 -0.215820  0.846635                     height
1  -0.798697 -0.023338  0.600276  0.221759                     weight
2   0.826404 -0.057254 -0.134247 -0.634903                  want_diet
3   0.715715 -0.485232 -0.125090 -0.105393                        bmi
4   1.994775  1.683438 -1.135145 -2.543068                    p_price
5  -0.003990  0.005332  0.002534 -0.003876               occupation_3
6  -0.823498  0.389873  0.238164  0.195461                      sex_1
7   0.819508 -0.384541 -0.235630 -0.199337                      sex_2
8   0.113798 -0.190582  0.153198 -0.076414                  married_0
9  -0.117789  0.195915 -0.150664  0.072538                  married_1
10 -0.092757 -0.120211  0.191265  0.021703                  created_1
11 -0.075794 -0.197750  0.215461  0.058083                  created_2
12 -0.677007  0.087434  0.201399  0.388173                  created_3
13  0.841567  0.235859 -0.605590 -0.471836                  created_4
14 -0.639929 -0.134127  0.363583  0.410472  upper_body(1,3,5,7,8,9)_0
15  0.635939  0.139459 -0.361049 -0.414348  upper_body(1,3,5,7,8,9)_1
16 -0.601647  0.192918  0.027596  0.381133          lower_body(2,6)_0
17  0.597657 -0.187585 -0.025062 -0.385010          lower_body(2,6)_1
18  0.929321  0.034714 -0.573879 -0.390156                  face(4)_0
19 -0.933311 -0.029382  0.576413  0.386280                  face(4)_1
20  0.675366 -0.298778  0.197366 -0.573954               whole_body_0
21 -0.679356  0.304110 -0.194832  0.570078               whole_body_1
22 -0.179437  0.572575  0.281803 -0.674942             diet_purpose_1
23  0.197992 -0.349071 -0.264347  0.415426             diet_purpose_2
24 -0.001790 -0.084260  0.729921 -0.643872             diet_purpose_3
25 -0.479154  0.493338 -0.784940  0.770756             diet_purpose_4
26  0.458399 -0.627251  0.040098  0.128755             diet_purpose_5
27 -0.827255 -0.299750 -0.248070  1.375074                p_created_5
28 -0.124736 -0.611659  0.805793 -0.069398                p_created_6
29 -0.296738  0.475172  0.231288 -0.409721                p_created_7
30  1.244739  0.441569 -0.786477 -0.899831                p_created_8
31 -0.095709 -0.130990  0.072245  0.154454               p_quantity_0
32  0.804225  0.225178 -0.519694 -0.509709               p_quantity_1
33 -0.711498 -0.068888  0.281318  0.499068               p_quantity_2
34 -0.001008 -0.019969  0.168666 -0.147689               p_quantity_3