<a href="https://colab.research.google.com/github/good-thinking/easy-coding2/blob/main/0324(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd 
import numpy as np

In [2]:
file_path = "/content/drive/MyDrive/Colab Notebooks/new project/Ashopping.xlsx"
excel_file = pd.ExcelFile(file_path)

sheet_names = excel_file.sheet_names
print(sheet_names)

['Ashopping']

In [3]:
df = pd.read_excel(excel_file, sheet_name = "Ashopping")

In [4]:
null_sum = pd.DataFrame(df.isnull().sum())
null_sum

                    0
고객ID                0
이탈여부                0
총_매출액               0
방문빈도                0
1회_평균매출액            0
할인권_사용 횟수           0
총_할인_금액             0
고객등급                0
구매유형                0
클레임접수여부             0
구매_카테고리_수           0
거주지역                0
성별                  0
고객_나이대              0
거래기간                0
할인민감여부              0
멤버쉽_프로그램_가입전_만족도    0
멤버쉽_프로그램_가입후_만족도    0
Recency             0
Frequency           0
Monetary            0
상품_만족도              0
매장_만족도              0
서비스_만족도             0
상품_품질               0
상품_다양성              0
가격_적절성              0
상품_진열_위치           66
상품_설명_표시          138
매장_청결성              0
공간_편의성              0
시야_확보성              0
음향_적절성              0
안내_표지판_설명           0
친절성                 0
신속성                 0
책임성                 0
정확성                 0
전문성                 0

In [5]:
df = df.dropna(axis = 0)

In [6]:
numeric_df = df[[df.columns[2], df.columns[3], df.columns[4], df.columns[5], df.columns[6], df.columns[14]]]

In [7]:
numeric_df_list = [['총_매출액', '방문빈도', '1회_평균매출액', '할인권_사용 횟수', '총_할인_금액', '거래기간']]

In [29]:
cg_df = df.drop(numeric_df, axis = 1)

In [30]:
cg_df = cg_df.drop(["고객ID"], axis = 1)

In [31]:
cg_df2 = cg_df

In [32]:
cg_df2 = cg_df2.drop(["성별"], axis = 1)

In [33]:
for i in range(len(cg_df2.columns)):
   cg_df2 = pd.get_dummies(cg_df2, columns = [cg_df2.columns[0]])

In [34]:
cg_df2 = cg_df2.reset_index()
cg_df2 = cg_df2.drop(["index"], axis = 1)

In [35]:
numeric_df2 = numeric_df

In [36]:
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing
scaler = preprocessing.StandardScaler()

In [37]:
numeric_df2 = scaler.fit_transform(numeric_df2)
numeric_df2 = pd.DataFrame(numeric_df2)

In [38]:
numeric_df2.columns = numeric_df_list

In [39]:
X = pd.concat([numeric_df2, cg_df2], axis = 1)

In [40]:
X

,"(총_매출액,)","(방문빈도,)","(1회_평균매출액,)","(할인권_사용 횟수,)","(총_할인_금액,)","(거래기간,)",이탈여부_0,이탈여부_1,고객등급_1,고객등급_2,...,정확성_3,정확성_4,정확성_5,정확성_6,정확성_7,전문성_3,전문성_4,전문성_5,전문성_6,전문성_7
0,-0.425754,-0.441573,-0.349867,-1.802715,-2.584469,0.558751,1,0,1,0,...,0,0,0,1,0,0,0,0,1,0
1,-0.143627,-0.441573,0.137952,-1.802715,-2.586715,0.109134,1,0,1,0,...,0,0,1,0,0,0,0,0,1,0
2,0.990881,2.241133,-0.552582,-0.847100,-0.420127,0.611206,1,0,1,0,...,0,0,1,0,0,0,0,0,1,0
3,-0.525173,-0.010424,-0.811139,0.466871,0.494421,0.633687,1,0,1,0,...,0,0,0,1,0,0,0,1,0,0
4,-0.663983,-0.968534,0.330748,1.661390,0.789103,-0.977440,1,0,1,0,...,0,0,1,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
836,0.793699,-0.297857,1.291217,0.825227,0.784162,0.521283,1,0,1,0,...,0,0,0,1,0,0,0,0,1,0
837,-0.261671,-0.872723,1.386849,-1.563812,-2.234084,0.348930,1,0,1,0,...,0,0,0,1,0,0,0,0,1,0
838,0.491909,1.091402,-0.457561,-1.205456,-0.957428,0.251513,1,0,1,0,...,0,0,0,1,0,0,0,0,1,0
839,0.630578,-0.537384,1.854534,0.466871,0.490423,0.483815,1,0,1,0,...,0,1,0,0,0,0,1,0,0,0
840,-0.545644,-0.154141,-0.766008,0.347419,0.664222,0.506296,1,0,1,0,...,0,0,0,1,0,0,0,0,1,0

In [ ]:
pd.DataFrame(df.columns)

In [71]:
Y = df[df.columns[12]]

In [72]:
type(Y)

pandas.core.series.Series

In [42]:
Y = Y.reset_index()

In [43]:
Y = Y.drop(["index"], axis = 1)

In [44]:
from sklearn.model_selection import train_test_split

In [73]:
X_train, X_test, Y_train,Y_test = train_test_split(X, Y, test_size=0.3, random_state=0)

In [46]:
X_train

,"(총_매출액,)","(방문빈도,)","(1회_평균매출액,)","(할인권_사용 횟수,)","(총_할인_금액,)","(거래기간,)",이탈여부_0,이탈여부_1,고객등급_1,고객등급_2,...,정확성_3,정확성_4,정확성_5,정확성_6,정확성_7,전문성_3,전문성_4,전문성_5,전문성_6,전문성_7
727,-0.488839,-0.872723,0.552165,1.661390,0.791349,-0.647721,1,0,1,0,...,0,0,1,0,0,0,0,1,0,0
170,0.097541,-0.441573,0.554952,-1.086004,-0.748949,0.259006,1,0,0,1,...,0,0,0,1,0,0,0,0,1,0
187,-0.551480,-0.824817,0.135370,-0.130389,0.294118,-0.392938,1,0,1,0,...,0,0,0,1,0,0,0,1,0,0
757,0.216112,0.708158,-0.479650,-0.488744,0.086583,0.551258,1,0,1,0,...,0,0,0,1,0,0,0,1,0,0
666,-0.328997,-0.681101,0.307077,-0.966552,-0.282713,0.101641,1,0,1,0,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,0.586136,-0.345763,1.109517,0.466871,0.494421,0.446347,1,0,1,0,...,0,0,0,0,1,0,0,0,1,0
192,1.402109,0.085387,1.173089,0.825227,0.965688,0.214045,1,0,0,1,...,0,0,0,1,0,0,0,0,1,0
629,-0.546900,-1.016439,1.356756,1.064130,0.587407,-3.727598,0,1,0,1,...,0,0,1,0,0,0,0,0,1,0
559,-0.610066,-0.824817,-0.055980,0.944679,0.609419,0.109134,1,0,1,0,...,0,0,1,0,0,0,0,0,1,0
684,0.896059,0.324914,0.338872,-1.324908,-1.283645,0.536270,1,0,1,0,...,0,0,1,0,0,0,0,0,1,0

In [74]:
X_train = X_train.rename(columns = {X_train.columns[0] : numeric_df.columns[0] ,
                                    X_train.columns[1] : numeric_df.columns[1],
                                    X_train.columns[2] : numeric_df.columns[2],
                                    X_train.columns[3] : numeric_df.columns[3],
                                   X_train.columns[4] : numeric_df.columns[4],
                                    X_train.columns[5] : numeric_df.columns[5]})

In [75]:
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.feature_selection import SelectFromModel
from sklearn.ensemble import RandomForestClassifier

selector = SelectFromModel(RandomForestClassifier(n_estimators = 100, random_state=0), threshold = "median")
selector.fit(X_train, Y_train)

score = pd.DataFrame()
score["attribute"] = X_train.columns
score["support"] =  selector.get_support()
score[score["support"] == True]

     attribute  support
0        총_매출액     True
1         방문빈도     True
2     1회_평균매출액     True
3    할인권_사용 횟수     True
4      총_할인_금액     True
..         ...      ...
150      책임성_6     True
154      정확성_5     True
155      정확성_6     True
159      전문성_5     True
160      전문성_6     True

[81 rows x 2 columns]

In [53]:
type(Y_train)

pandas.core.frame.DataFrame

In [55]:
Y = Y.to_numpy()

In [54]:
Y_train = Y_train.to_numpy()

In [59]:
X_train = X_train.to_numpy()

In [61]:
type(X_train)

numpy.ndarray

In [76]:
from imblearn.over_sampling import SMOTE #synthetic minority over-sampling technique
from collections import Counter

X_train_over, Y_train_over = SMOTE(random_state = 0).fit_resample(X_train, Y_train)

print("original data %s" % Counter(Y))
print("original train data %s" % Counter(Y_train))
print("over train data %s" % Counter(Y_train_over))

original data Counter({1: 709, 0: 132})
original train data Counter({1: 499, 0: 89})
over train data Counter({1: 499, 0: 499})

In [79]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
model2 = LogisticRegression(multi_class='multinomial', solver='lbfgs')
model2.fit(X_train, Y_train)
y_pred = model2.predict(X_test)
accuracy = accuracy_score(Y_test, y_pred)
print("Accuracy:", accuracy)

print("R2 : {:.3f}" .format(model2.score(X_train, Y_train)))

from sklearn.metrics import classification_report
#print(classification_report(Y_test, Y_pred))
print(model2.intercept_)
print(model2.coef_)

Accuracy: 0.8221343873517787
R2 : 0.895
[1.29584283]
[[-2.01139585e-01  3.89727882e-01  9.85210321e-02 -2.15096141e-01
   1.97906782e-01  4.85370303e-02 -1.95316382e-01  1.96543416e-01
   1.73505718e-02 -1.61235380e-02  2.20967670e-01 -2.39340987e-01
   8.24868402e-02 -6.28864900e-02 -6.49315452e-01  6.50542485e-01
  -5.89327739e-02  6.96032004e-03  1.07309333e-01 -7.14604172e-02
   1.67853070e-01  6.78224729e-03 -1.57284746e-01 -5.89327739e-02
   6.96032004e-03  1.07309333e-01 -7.14604172e-02  1.67853070e-01
   6.78224729e-03 -1.57284746e-01  2.07994501e-01  2.99907564e-02
   1.68478216e-02  1.17976704e-01 -1.69826640e-01 -1.94460863e-02
  -2.79616964e-01 -1.16294269e-01  2.13601210e-01  9.49263309e-03
  -8.26559932e-03  2.03980012e-01 -3.99299822e-02 -8.39902113e-02
   2.53632143e-01 -2.88495625e-01 -4.39693019e-02 -2.06165790e-01
   1.50680213e-01 -1.56165330e-01 -8.18226359e-02  2.94700577e-01
   1.93598574e-06 -1.92521089e-01 -7.83257036e-01  6.26082435e-01
  -1.82137650e-01  9.05641894e-02  4.42494248e-01 -2.83862767e-01
   8.15711998e-02 -1.24952719e-03  1.60677644e-01  7.07404359e-02
   2.29914341e-01 -2.56564292e-01 -1.41277704e-01 -1.85349531e-01
   6.60853510e-02  3.19305146e-01  6.53401396e-02  3.77934915e-03
  -1.26655717e-01  1.79953117e-02 -2.36938064e-01  2.51494886e-02
  -1.66235399e-01  3.36503612e-01  8.68097902e-02 -6.20577056e-02
   2.23252993e-02  2.79684478e-01  1.49390039e-01 -1.99842939e-01
  -9.86631027e-02 -1.32272648e-01 -1.93940934e-02  1.60627655e-01
   2.46446060e-01 -2.35800863e-01  6.18081466e-02 -9.19352759e-03
   4.18888234e-04 -2.23079325e-01  1.82842218e-01  2.75793911e-01
  -1.98777587e-01 -1.24741144e-01 -1.33890364e-01 -8.58597961e-02
   1.80963670e-03 -1.22524827e-01  1.96581508e-01  1.12205126e-02
  -4.52091726e-01  1.52976365e-01  2.83475263e-01  1.68671315e-02
   3.65749886e-02  1.52289803e-01 -1.94881240e-02 -1.68149634e-01
  -4.67167501e-01  2.89051900e-01  3.50202505e-01 -1.70859870e-01
  -2.21405277e-01 -9.64273178e-02  1.31459967e-01  1.87599662e-01
  -3.54091941e-01  2.33501539e-01  5.74091452e-02  6.44082906e-02
   4.56850112e-01 -1.70329028e-01 -1.94604516e-01 -9.06895338e-02
  -1.76198821e-01  1.79955481e-01  2.03944321e-01 -2.06473948e-01
  -1.36740662e-02 -2.62640278e-01  2.06975002e-01  7.05663767e-02
   3.90372703e-01 -9.24443382e-02 -2.21516667e-02 -2.62244246e-01
  -1.23054185e-02  7.10088467e-03 -8.05816040e-03  3.25029474e-02
  -1.04872855e-02 -2.00959834e-01  1.81128482e-01  2.91496521e-01
  -7.90760717e-02 -3.12777618e-01 -1.11021780e-01  2.12605983e-01
   2.07601524e-01  3.57059147e-01 -1.96788155e-01 -1.51480706e-01
  -2.15164777e-01  2.41587685e-01 -1.77325112e-01  1.24420783e-01
  -3.36491918e-01  1.49035596e-01]]

/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [78]:
X_test = X_test.rename(columns = {X_test.columns[0] : numeric_df.columns[0] ,
                                    X_test.columns[1] : numeric_df.columns[1],
                                    X_test.columns[2] : numeric_df.columns[2],
                                    X_test.columns[3] : numeric_df.columns[3],
                                   X_test.columns[4] : numeric_df.columns[4],
                                    X_test.columns[5] : numeric_df.columns[5]})

In [80]:
coefficient = model2.coef_
coefficient = pd.DataFrame(coefficient)
coefficient

,0,1,2,3,4,5,6,7,8,9,...,152,153,154,155,156,157,158,159,160,161
0,-0.20114,0.389728,0.098521,-0.215096,0.197907,0.048537,-0.195316,0.196543,0.017351,-0.016124,...,0.207602,0.357059,-0.196788,-0.151481,-0.215165,0.241588,-0.177325,0.124421,-0.336492,0.149036

In [81]:
coefficient.columns = X_train.columns

In [82]:
coefficient

,총_매출액,방문빈도,1회_평균매출액,할인권_사용 횟수,총_할인_금액,거래기간,이탈여부_0,이탈여부_1,고객등급_1,고객등급_2,...,정확성_3,정확성_4,정확성_5,정확성_6,정확성_7,전문성_3,전문성_4,전문성_5,전문성_6,전문성_7
0,-0.20114,0.389728,0.098521,-0.215096,0.197907,0.048537,-0.195316,0.196543,0.017351,-0.016124,...,0.207602,0.357059,-0.196788,-0.151481,-0.215165,0.241588,-0.177325,0.124421,-0.336492,0.149036

In [83]:
transposed_array = np.transpose(coefficient)
transposed_array

                  0
총_매출액     -0.201140
방문빈도       0.389728
1회_평균매출액   0.098521
할인권_사용 횟수 -0.215096
총_할인_금액    0.197907
...             ...
전문성_3      0.241588
전문성_4     -0.177325
전문성_5      0.124421
전문성_6     -0.336492
전문성_7      0.149036

[162 rows x 1 columns]