<a href="https://colab.research.google.com/github/good-thinking/easy-coding2/blob/main/no_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/new project/online_diet2.xlsx")
df

/usr/local/lib/python3.9/dist-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

,seq_num,id,social_id1,zip_code,occupation,sex,height,weight,married,dise,...,diet_purpose,diet,bmi,order_id,pfid,p_name,p_price,p_created,p_quantity,class
0,28,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,3.0,4,21.0,16560,MDGLIKE001,"오레그 O다리,X다리 교정벨트(고급형)",27000,2001-05-17 오후 1:10:38,1,4.0
1,29,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,3.0,4,21.0,16926,MDGLIKE001,"오레그 O다리,X다리 교정벨트(고급형)",27000,2001-05-17 오후 1:26:33,1,4.0
2,30,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,3.0,4,21.0,16941,MDGLIKE001,"오레그 O다리,X다리 교정벨트(고급형)",27000,2001-05-17 오후 2:19:23,1,4.0
3,31,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,3.0,4,21.0,16944,MDGLIKE001,"오레그 O다리,X다리 교정벨트(고급형)",27000,2001-05-17 오후 2:27:24,1,4.0
4,32,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,3.0,4,21.0,16967,MDGBEAT004,아로마 장미향,20000,2001-05-17 오후 4:25:11,1,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4453,2011,0162655575,830219.0,135-080,15.0,2.0,165.0,49.0,0.0,NaN,...,1.0,NaN,17.0,21654,MDEHRWE008,파워세라믹종아리 다이어트,29900,2001-07-05 오후 7:17:10,1,3.0
4454,2012,12girl,781007.0,136-043,17.0,2.0,160.0,63.0,0.0,2,...,3.0,NaN,24.0,21656,PDFMEAL014,풀무원 드림다이어트,300000,2001-07-05 오후 8:02:18,1,2.0
4455,2013,onlyonelhm,880330.0,327-030,15.0,2.0,159.0,58.0,0.0,NaN,...,1.0,NaN,22.0,21664,MDEHRWE008,파워세라믹종아리 다이어트,29900,2001-07-06 오전 1:17:45,1,3.0
4456,2014,morebest1,760709.0,0000000,12.0,1.0,177.0,109.0,0.0,NaN,...,3.0,"1, 4, 5",34.0,21665,MDFMEAL007,대상다이어트프로그램,70000,2001-07-06 오전 1:50:12,1,2.0
4457,2015,kiya80,770426.0,660-322,12.0,2.0,156.0,49.0,0.0,1,...,2.0,4,20.0,21666,PDFMEAL016,깜짝변신 다이어트세트,130000,2001-07-06 오전 2:27:39,1,2.0

Error: Runtime no longer has a reference to this dataframe, please re-run this cell and try again.
Error: Runtime no longer has a reference to this dataframe, please re-run this cell and try again.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df.isnull().sum()

In [ ]:
df=  df.dropna(axis = 0)

In [ ]:
df = df.drop([df.columns[0], df.columns[1], df.columns[2], df.columns[18]], axis = 1)
#remove serier data.

In [ ]:
df2 = df.reset_index()

In [ ]:
for i in range(4):
    df2["dise_" + str(i+1)] = df2["dise"].str.contains(str(i+1), na = False)*1

In [ ]:
for i in range(9) :
  df2["loss_part_" + str(i+1)] = df2["loss_part"].str.contains(str(i+1), na = False)*1

In [ ]:
for i in range(10) :
  df2["diet_" + str(i+1)] = df2["diet"].str.contains(str(i+1), na = False)*1

In [ ]:
df2.columns

Index(['index', 'zip_code', 'occupation', 'sex', 'height', 'weight', 'married',
       'dise', 'want_diet', 'created', 'waist', 'heap', 'loss_part',
       'diet_purpose', 'diet', 'bmi', 'pfid', 'p_name', 'p_price', 'p_created',
       'p_quantity', 'dise_1', 'dise_2', 'dise_3', 'dise_4', 'loss_part_1',
       'loss_part_2', 'loss_part_3', 'loss_part_4', 'loss_part_5',
       'loss_part_6', 'loss_part_7', 'loss_part_8', 'loss_part_9', 'diet_1',
       'diet_2', 'diet_3', 'diet_4', 'diet_5', 'diet_6', 'diet_7', 'diet_8',
       'diet_9', 'diet_10'],
      dtype='object')

In [ ]:
df3 = df2.drop(["loss_part"],axis = 1)
df3 = df3.drop(["diet"], axis = 1)
df3 = df3.drop(["dise"], axis = 1)

In [ ]:
df3.columns

Index(['index', 'zip_code', 'occupation', 'sex', 'height', 'weight', 'married',
       'want_diet', 'created', 'waist', 'heap', 'diet_purpose', 'bmi', 'pfid',
       'p_name', 'p_price', 'p_created', 'p_quantity', 'dise_1', 'dise_2',
       'dise_3', 'dise_4', 'loss_part_1', 'loss_part_2', 'loss_part_3',
       'loss_part_4', 'loss_part_5', 'loss_part_6', 'loss_part_7',
       'loss_part_8', 'loss_part_9', 'diet_1', 'diet_2', 'diet_3', 'diet_4',
       'diet_5', 'diet_6', 'diet_7', 'diet_8', 'diet_9', 'diet_10'],
      dtype='object')

In [ ]:
df3.info()

In [ ]:
from google.colab.data_table import DataTable
DataTable.max_columns = 41

In [ ]:
df3["zip"] = df3["zip_code"]

In [ ]:
for i in range(1233) : 
  df3["zip"][i] = (df3["zip_code"][i])[0:3]

<ipython-input-107-53b430df3340>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["zip"][i] = (df3["zip_code"][i])[0:3]

In [ ]:
df3 = df3.drop(["zip_code"], axis = 1)

In [ ]:
numeric_df = df3[[df.columns[3],df3.columns[4], df3.columns[6], df3.columns[8], df3.columns[9], df3.columns[11], df3.columns[14]]]

In [ ]:
numeric_df

      height  weight  want_diet waist heap   bmi  p_price
0      167.0    58.0       54.0    28   35  21.0    39000
1      158.0    57.0       56.0    83   99  24.0    15000
2      159.0    53.0       47.0    27   34  20.0   310000
3      167.0    83.0       79.0    34   44  29.0    58000
4      160.0    47.0       45.0    27   37  18.0    18000
...      ...     ...        ...   ...  ...   ...      ...
1228   158.0    63.0       52.0    28   32  25.0    60000
1229   160.0    45.0       42.0    24   34  17.0    22000
1230   160.0    45.0       42.0    24   34  17.0    29900
1231   160.0    45.0       42.0    24   34  17.0    29900
1232   156.0    49.0       43.0    27   34  20.0   130000

[1233 rows x 7 columns]

In [ ]:
cg_df = df3.drop(numeric_df, axis = 1)

In [ ]:
cg_df = cg_df.drop(["index"], axis = 1)

In [ ]:
cg_df

In [ ]:
cg_df["created1"] = cg_df["created"]

In [ ]:
for i in range(1233) : 
  cg_df["created1"][i] = (df3["created"][i])[5:7]

<ipython-input-114-27b179105e50>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cg_df["created1"][i] = (df3["created"][i])[5:7]

In [ ]:
cg_df["p_created1"] = cg_df["p_created"]
for i in range(1233) : 
  cg_df["p_created1"][i] = (cg_df["p_created1"][i])[5:7]

<ipython-input-115-69170da41f20>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cg_df["p_created1"][i] = (cg_df["p_created1"][i])[5:7]

In [ ]:
cg_df = cg_df.drop(["created"], axis = 1)
cg_df = cg_df.drop(["p_created"], axis = 1)

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing
scaler = preprocessing.StandardScaler()

In [ ]:
numeric_df2 = numeric_df

In [ ]:
numeric_df2 = numeric_df2.drop(["waist"], axis = 1)
numeric_df2 = numeric_df2.drop(["heap"], axis = 1)

In [ ]:
numeric_df_scale = scaler.fit_transform(numeric_df2)

In [ ]:
numeric_df2.columns

Index(['height', 'weight', 'want_diet', 'bmi', 'p_price', 'waist2'], dtype='object')

In [ ]:
cg_df2 = cg_df

In [ ]:
cg_df2

In [ ]:
len(cg_df2.columns)

33

In [ ]:
for i in range(len(cg_df2.columns)):
   cg_df2 = pd.get_dummies(cg_df2, columns = [cg_df.columns[i]])

In [ ]:
cg_df2.columns

Index(['occupation_1.0', 'occupation_3.0', 'occupation_4.0', 'occupation_5.0',
       'occupation_6.0', 'occupation_7.0', 'occupation_8.0', 'occupation_9.0',
       'occupation_11.0', 'occupation_12.0',
       ...
       'created1_07', 'created1_08', 'created1_09', 'created1_10',
       'created1_11', 'created1_12', 'p_created1_05', 'p_created1_06',
       'p_created1_07', 'p_created1_08'],
      dtype='object', length=1134)

In [ ]:
len(cg_df2.columns)

1134

In [ ]:
type(numeric_df_scale)

numpy.ndarray

In [ ]:
numeric_df_scale = pd.DataFrame(numeric_df_scale)

In [ ]:
numeric_df_scale.columns = numeric_df2.columns

In [ ]:
X = pd.concat([numeric_df_scale, cg_df2], axis = 1)

In [ ]:
X

,height,weight,want_diet,bmi,p_price,occupation_1.0,occupation_3.0,occupation_4.0,occupation_5.0,occupation_6.0,...,created1_07,created1_08,created1_09,created1_10,created1_11,created1_12,p_created1_05,p_created1_06,p_created1_07,p_created1_08
0,0.897698,-0.011241,0.327382,-0.175471,-0.050003,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
1,-0.830783,-0.118931,0.580485,0.734863,-0.392947,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
2,-0.638729,-0.549692,-0.558480,-0.478916,3.822406,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
3,0.897698,2.681017,3.491173,2.252088,0.221494,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
4,-0.446676,-1.195834,-0.811583,-1.085806,-0.350079,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1228,-0.830783,0.527211,0.074279,1.038308,0.250073,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
1229,-0.446676,-1.411215,-1.191238,-1.389251,-0.292922,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
1230,-0.446676,-1.411215,-1.191238,-1.389251,-0.180036,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
1231,-0.446676,-1.411215,-1.191238,-1.389251,-0.180036,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
1232,-1.214889,-0.980454,-1.064686,-0.478916,1.250326,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0

In [ ]:
pd.DataFrame(X.columns)

                 0
0           height
1           weight
2        want_diet
3              bmi
4          p_price
..             ...
509    created1_12
510  p_created1_05
511  p_created1_06
512  p_created1_07
513  p_created1_08

[514 rows x 1 columns]

In [ ]:
df.columns

Index(['zip_code', 'occupation', 'sex', 'height', 'weight', 'married', 'dise',
       'want_diet', 'created', 'waist', 'heap', 'loss_part', 'diet_purpose',
       'diet', 'bmi', 'pfid', 'p_name', 'p_price', 'p_created', 'p_quantity',
       'class'],
      dtype='object')

In [ ]:
Y = df["class"]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, Y_train,Y_test = train_test_split(X, Y, test_size=0.3, random_state=0)

In [ ]:
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.feature_selection import SelectFromModel
from sklearn.ensemble import RandomForestClassifier

selector = SelectFromModel(RandomForestClassifier(n_estimators = 100, random_state=0), threshold = "median")
selector.fit(X_train, Y_train)

score = pd.DataFrame()
score["attribute"] = X_train.columns
score["support"] =  selector.get_support()
score[score["support"] == True]

NameError: ignored

In [ ]:
len(X_train.columns)

514

In [ ]:
!pip install statsmodels
!pip install scikit-learn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: statsmodels in /usr/local/lib/python3.9/dist-packages (0.13.5)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.9/dist-packages (from statsmodels) (1.22.4)
Requirement already satisfied: pandas>=0.25 in /usr/local/lib/python3.9/dist-packages (from statsmodels) (1.4.4)
Requirement already satisfied: scipy>=1.3 in /usr/local/lib/python3.9/dist-packages (from statsmodels) (1.10.1)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.9/dist-packages (from statsmodels) (0.5.3)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.9/dist-packages (from statsmodels) (23.0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.25->statsmodels) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.25->statsmodels) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from patsy>=0.5.2->statsmodels) (1.16.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.9/dist-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.9/dist-packages (from scikit-learn) (1.22.4)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.9/dist-packages (from scikit-learn) (1.1.1)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.9/dist-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit-learn) (3.1.0)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
model2 = LogisticRegression(multi_class='multinomial', solver='lbfgs')
model2.fit(X_train, Y_train)
y_pred = model2.predict(X_test)
accuracy = accuracy_score(Y_test, y_pred)
print("Accuracy:", accuracy)

print("R2 : {:.3f}" .format(model2.score(X_train, Y_train)))

from sklearn.metrics import classification_report
#print(classification_report(Y_test, Y_pred))
print(model2.intercept_)
print(model2.coef_)

Accuracy: 1.0
R2 : 1.000
[-1.68899105  0.3534242   0.70298857  0.63257829]
[[-0.05068191 -0.03941941  0.33912792 ... -0.2135952  -0.17955811
   0.44415335]
 [-0.00361438  0.0100591  -0.15932056 ...  0.08666004  0.08899011
  -0.12595632]
 [ 0.01173796 -0.01175865 -0.11529231 ...  0.06225966  0.1101706
  -0.11241722]
 [ 0.04255833  0.04111896 -0.06451505 ...  0.0646755  -0.0196026
  -0.20577981]]

In [ ]:
coefficient = model2.coef_

In [ ]:
X_train

,height,weight,want_diet,bmi,p_price,occupation_1.0,occupation_3.0,occupation_4.0,occupation_5.0,occupation_6.0,...,created1_07,created1_08,created1_09,created1_10,created1_11,created1_12,p_created1_05,p_created1_06,p_created1_07,p_created1_08
665,-0.830783,-0.226621,0.200830,0.127974,-0.050003,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
937,-1.022836,-0.118931,-0.558480,0.431419,-0.180036,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
535,-0.638729,-0.011241,0.327382,0.127974,-0.328645,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
901,0.129484,0.204140,0.074279,0.127974,0.664463,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
609,0.705644,0.096450,-0.178825,-0.175471,-0.394376,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
763,0.321538,-0.011241,-0.811583,-0.175471,-0.265772,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
835,0.321538,0.204140,-0.811583,0.127974,-0.421526,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1216,-1.214889,-0.549692,-0.052273,-0.175471,-0.180036,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
559,-0.254623,-0.872763,-0.811583,-0.782361,-0.422955,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
684,-0.446676,-0.549692,-0.305376,-0.175471,-0.322930,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [ ]:
coefficient = pd.DataFrame(coefficient)

In [ ]:
coefficient.columns = X_train.columns

In [ ]:
transposed_array = np.transpose(coefficient)

In [ ]:
transposed_array

                      0         1         2         3
height        -0.050682 -0.003614  0.011738  0.042558
weight        -0.039419  0.010059 -0.011759  0.041119
want_diet      0.339128 -0.159321 -0.115292 -0.064515
bmi           -0.083020 -0.001948  0.111257 -0.026289
p_price        0.739558  0.387124 -0.555280 -0.571402
...                 ...       ...       ...       ...
created1_12   -0.051063  0.084329 -0.052608  0.019342
p_created1_05 -0.051143 -0.049356 -0.060251  0.160749
p_created1_06 -0.213595  0.086660  0.062260  0.064676
p_created1_07 -0.179558  0.088990  0.110171 -0.019603
p_created1_08  0.444153 -0.125956 -0.112417 -0.205780

[514 rows x 4 columns]